.details-box{
    box-sizing: border-box;
    max-width: 475px;
    border: thin solid rgb(177, 177, 177);
    padding: 10px;
    margin-left: 20px;
    border-radius: 20px;
    margin-top: 20px;
}

.button-container{
    display: inline;
}

ul {
    list-style-type: none;
    padding: 0; 
  }

.line-divider{
    border: thin solid black;
}